<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="ALTERNATIVE_JRE_PATH" value="19" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <option name="MAIN_CLASS_NAME" value="ulb.infof307.g10.network.Server" />
    <module name="g10-iteration-4" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>